*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  overflow-x: hidden; 
}

.cart-page {
    margin-top: 61px;
    width: 100vw;
    min-height: 80vh;
  }
  
  .cart-page h1 {
    padding: 15px !important;
    font-family: "roboto", sans-serif;
    font-weight: normal;
    background-color: rgba(0, 0, 255, 0.072) !important;
  }
  .cart-page h1 > p {
    font-size: 20px;
    margin-top: 10px;
  }
  
  .cart-page .card {
    padding: 5px !important;
    min-height: 150px !important;
    margin-bottom: 5px !important;
    margin-left:-50px;
  }
  .cart-page .cart-remove-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-page .cart-summary {
    text-align: center;
   /* margin-top: -140px !important; */
  }
  /* //______________________________________________________________// */


  #dark .cartHead{
    background:#00000039;
    color: white;
  }
  #dark .cart-summary{
    color: white;
  }

  /* ____________________________________________________________ */

  @media (max-width: 400px) {

  .cart-page {
    padding-left: 4px;
    padding-right: 4px;
    min-height:100vh;
  }


  /* Header */

  .cart-page .cartHead h1 {
    font-size: 18px;

    padding: 8px 4px !important;
  }

  .cart-page .cartHead h1 p {
    font-size: 10px;
  }

  /* Product */
  .cart-page .card {
    min-height: 115px !important;
    grid-template-columns: 31% 47% 22%;
    padding: 4px !important;
    margin-bottom: 5px !important;
    margin-left:0px;
  }

  /* Image */
  .cart-page .card img {
    height: 95px !important;
    object-fit: contain !important;
  }

  /* Product information */
  .cart-page .card > div:nth-child(2) {
    padding: 3px 5px !important;
  }

  .cart-page .card > div:nth-child(2) p {
    font-size: 9px;
    padding: 0px 10px !important;
    margin-bottom: 2px;
  }

  .cart-page .card > div:nth-child(2) p:first-child {
    font-size: 11px;
  }

  /* Remove */
  .cart-page .cart-remove-btn button {
    font-size: 8px;
    padding: 3px 5px;
  }


  /* Summary */
  .cart-page .cart-summary {
    margin-top: 7px !important;
    /* border:2px solid red; */
    padding: 8px !important;
    margin-left:-0px !important;
  }
  .cart-page .cart-summary h2 {
    font-size: 15px;
  }
  .cart-page .cart-summary p {
    font-size: 9px;
  }
  .cart-page .cart-summary h4 {
    font-size: 12px;
  }
}